<section>
  <header>
    Organizer: <strong>{{ dateService.date | async | moment:'DD.MM.YYYY' }}</strong><!-- 48:14 -->
    <hr /><!-- 48:20, 51:54 -->
  </header>

  <main>
    <ul>
      <!-- 48:40 -->
      <li class="task">
        <!-- 50:28 -->
        <span>
          <strong>1</strong><!-- 50:46,52:49 -->
          <!-- async pipe needed, because dateService.data is an instance of BehaviorSubject -->
          taskName
        </span>
        <button class="btn btn-primary">Remove</button><!-- 50:57 -->
      </li>
    </ul>
  </main>

  <footer>
    <!-- 48:42 -->
    <form (ngSubmit)="submit()" [formGroup]="form"><!-- 54:58,55:16 -->
      <!-- 48:53 -->
      <input type="text" formControlName="title"><!-- 48:59,55:21 -->

      <button type="submit"
        class="btn btn-primary btn-block"
      >Add</button><!-- 49:02 -->
    </form>
  </footer>
</section>